.blog {
    background-color: var(--lightblue);
    color: white;
    padding: 2em;
    margin: 1em;
    margin-bottom: 2em;
}

.tag {
    display: inline-block;
    vertical-align: middle;
    background-color: var(--orange);
    border-radius: 0.5em;
    box-shadow: 2px 2px 3px rgba(0, 0, 0, 0.15);
    font-size: var(--baseFont);
    padding: 0.5em;
    width: 8em;
    margin-right: 1em;
    text-align: center;
    margin-bottom: 1em;
}

.blog__image {
    width: 100%;
    border: 5px solid white;
}

.anchortag--brown {
    color: var(--brown);
    font-size: var(--baseFont);
}


/*read moretext*/
.read-more--text {
    color: var(--brown);
    display: inline-block;
    cursor: pointer;
}

@media only screen and (max-width: 768px) {
    .blog {
        margin: 0.5em 0.5em 1.5em 0.5em;
        padding: 2em;
    }
}