.tile {
    display: flex;
    flex-direction: column;
    width: 30vw;
    max-width: 350px;
    background-color: var(--orange);
    border-radius: 0.5em;
    box-shadow: 2px 2px 3px rgba(0, 0, 0, 0.15);
    margin-bottom: 2em;
}

.tile--image {
    width: 30vw;
    max-width: 350px;
    padding: 1.5em 1.5em 0 1.5em;
    height: 20em;
    object-fit: cover;
}

.tile--text {
    display: flex;
    flex-direction: column;
    width: 100%;
    padding: 1.5em;
    text-align: center;
}

@media only screen and (max-width: 1000px) {
    .tile {
        width: 40vw;
    }

    .tile--image {
        width: 40vw;
    }
}

@media only screen and (max-width: 768px) {
    .tile {
        width: 80vw;
    }

    .tile--image {
        width: 70vw;
        padding: 1.5em 0.5em 0 0.5em;
    }
}