.homepage {
    width: 60vw;
    padding: 2em;
}

.homepage .photo {
    padding: 0;
}

/*animations*/
.slideLeft {
    animation: slideLeft 2s ease 0s 1 normal forwards;
}

@keyframes slideLeft {
    0% {
        transform: translateX(100%);
    }

    100% {
        transform: translateX(0%);
    }
}

.slideLeftRetarded {
    animation: slideLeft 3s ease 0s 1 normal forwards;
}

@keyframes slideLeftRetarded {
    0% {
        transform: translateX(100%);
    }

    100% {
        transform: translateX(0%);
    }
}

@media only screen and (max-width: 768px) {
    .homepage {
        width: 90vw;
        padding: 1em;
    }
}